//Fonts
$primary-font: 'Poppins', 'Arial', sans-serif;
$secondary-font: 'Geometria', 'Arial', sans-serif;

// colors
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$color-dark-base: #2f281e;
$color-dark-2: #173a56;
$color-dark-3: #544837;
$color-bright: #ff9900;
$color-text-alt: #567592;
