//Fonts
$primary-font: 'Poppins', 'Arial', sans-serif;
$secondary-font: 'Geometria', 'Arial', sans-serif;

// colors
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$baseDarkColor: #2f281e;
$altDarkColor: #173a56;
$colorBright: #ff9900;
